/* .employee__page__wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}  */

.employee__welcome__header {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    overflow: hidden;
    
}

.verification_banner img {
    object-position:   10% 70%;
    object-fit: cover;
    overflow: hidden;
}

.employee__verification__status {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background: rgba(178, 176, 176, 0.5);
    width: 100%;
    height: 98%;
    font-size: 25px;
    font-weight: 800;
    padding-bottom: 25px;
}

.employee__credential__status {
    position: absolute;
    padding-top: 80px;
    
}

.employee__verification__status img {
    object-fit: cover;
    overflow: hidden;
    object-position: 30% 70%;
}

.employee__credential__status p {
    text-align: center;
    font-size: 18px;
    font-weight: 800;
}

.employee__info__wrapper {
    display: flex;
    flex: 1 2;
    height: 500px;
}

.employee__info__sidenav {
    min-width: 300px;
    max-width: 300px;
    min-height: 700px;
    background: #5a5a5a;
    padding-top: 10px;
    padding-left: 10px;
}

.employee__portal__info{
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex;
    justify-content: flex-start;
} 





.employee__info__title {
    text-align: center;
    background: #d9d9d9;
    padding: 5px 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    width: 80%;
    margin-bottom: 5px;
}

.employee__details {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}

/* .employee__details .employee__data {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
} */
.employee__data {
    padding-bottom: 10px;
}
.employee__data  h3 {
    color: lightgray;
    font-weight: 400;
    font-size: 14px;
}

.employee__data img {
    margin-top: 5px;
    object-fit: contain;
}

.employee__data a {
    margin-left: 10px;
    text-decoration: underline;
    color: white;
    transition: all 0.2s ease-in;
}

.employee__data a:hover{
    color: grey;
    text-decoration: none;
}

.employee__data p {
    color: white;
    font-weight: 800;
    font-size: 14px;
    margin-left: 10px;
}

