.footer__container {
    background-color: black;
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    color: grey;
}

.footer__title {
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
}