.verification__card__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid white;
    background-color: white;
    border-radius: 8px;
    padding: 5px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    gap: 5px;
    max-width: 350px;
    min-width: 350px;
    min-height: 450px;
    max-height: 450px; 
}

.card__blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    width: 100px;
    height: 100px;
    background-color: #ccc;
  }

/* .verification__card__container.dynamic {

} */



.step__number {
    background-color: #00a2ed;
    width:50px;
    color: white;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
    margin-left: 145px;
    margin-bottom: 3px;
}

.verification__head {
    margin-bottom: 20px;
}
.verification__head h2 {
    line-height: 22px;
    font-weight: bolder;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.step__desc {
    margin-bottom: 20px;
    text-align: center;
}

.step__desc p{
    font-weight: 20;
    text-align: center;
}

.verification__qr__code {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid green; */
    padding: 10px;
    border-radius: 5px;
    /* margin-left: 33px; */
    margin-bottom: 25px;
}

.verification__button button{
    background: #00a2ed;
    padding: 10px 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 600;
    margin-bottom: 70px;
    margin-left: 20px;
    color: white;
    border: none;

}

.loading__message {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 1px;
    border: 0.2px solid #00a2ed;
}

.verification__message p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .verification__message p {
    text-align: center;
    min-width: 50px;
    min-height: 100px;;
    background-color: grey;
} */